.display {
  height: 8rem;
  background: var(--display);
  border-radius: var(--radius);
  margin-bottom: 1.5rem;

  color: var(--color);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.05831rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem;
  overflow: hidden;

  @media (min-width: 600px) {
    padding: 2rem;
    font-size: 3.5rem;
  }
}
