.app-container {
  background: var(--bg);
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;
}

.calculator {
  max-width: 33.75rem;
  width: calc(100% - 1.5rem);
  min-height: 30rem;
}
